<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Fira Sans Condensed' rel='stylesheet'>

    <title>API PDF ENJKEY</title>
    <style>
    
        
        body{
            
            width: 800px;
            height: 550px;
            font-family: 'Fira Sans';
          
        }
        
        .container{
            background-color: white;
            width: 800px;
            height: 550px;
            position: relative;
            font-family: 'Fira Sans';

        }
        .img_container{
            z-index: 1;
            position: absolute;
            margin-left:2%;
            margin-right: 5%;
            margin-top:10%;
        }
        .ind_abs{
            z-index: 2;
            position: absolute;
            font-family: 'Fira Sans';
            font-weight: lighter;
            
        }

        .amount{
            height: 13px;
            width: 28px;
            font-size: 24px;
            top: 35%;
            left: 86%;
            margin-top: -60px;
            margin-left: -60px;
            
            letter-spacing: 1px;
            line-height: 31px;
            text-align: center;
          
            color: #212529;    
            font-family: 'Fira Sans'; 
            
        }

        .para{
       
            padding: 10px;
            height: 90px;;
            width: 250px;;
            font-size: 24px;
            top:60%;
            left: 51%;
            font-family: 'Fira Sans';
            letter-spacing: 1px;
            line-height: 1.5;
            text-align: justify ;
            color: #212529;
            
         
         
        }
        
        .n_bon{
            height: 30px;
            width: 300px;
            font-size: 16px;
            bottom: -8%; 
            left: 58%;
            letter-spacing: 1px;
            color: #212529;
            font-family: 'Fira Sans';
           
        }
        .vlb{
            height: 30px;
            width: 300px;
            font-size: 16px;
            bottom:-11%; 
            left:52%;
            letter-spacing: 0.6px;
            color:  #212529;
            font-family: 'Fira Sans';
           
        }
        



    </style>
</head>
<body>
    <% if (clients.length > 0) { %>
        <% clients.forEach(client => {%>
    <div class="container" >
        <div class="img_container"><img src="https://scontent.ftun12-1.fna.fbcdn.net/v/t1.0-9/131894370_224481912530924_7329448895640678746_o.jpg?_nc_cat=106&ccb=2&_nc_sid=730e14&_nc_ohc=U0pfE5vcV10AX8d8dmH&_nc_ht=scontent.ftun12-1.fna&oh=823139fb43348b01035e6ba314f17180&oe=6002FAD4"
            alt="" style="height: 100%; max-height:100% ; width:100%; display:block;"> </div>
        <div class=" ind_abs amount" > <%= client.amount %> </div>
        <div class=" ind_abs para" > <%= client.message %></div>
        <div class=" ind_abs n_bon" ><%= client.num %></div>
        <div class=" ind_abs vlb" > <strong>bon valable jusqu'a <%= client.date %></strong> </div>
    </div>
</body>
<%  });%>
    <% }%>
</html>
